<!doctype html>
<html layout:decorate="~{layouts/main}"
      lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block layout:fragment="LNB" th:with="noticeBold = true">
    <th:block th:replace="fragments/LNB :: board"></th:block>
</th:block>

<!--/* DOM요소 조작 혹은 이벤트 처리할 JS 추가 */-->
<th:block layout:fragment="script">
    <script th:src="@{/js/board/notice.js}"></script>
</th:block>


<!--/* 주 화면 컨텐츠 */-->
<th:block layout:fragment="content">
    <div class="container-fluid content">
        <div class="title_wrap">
            <h3 class="tit">공지사항 수정</h3>
            <div class="loc">
                <i class="bi bi-house-fill"></i>
                <i class="bi bi-chevron-compact-right"></i>
                <span>게시판</span>
                <i class="bi bi-chevron-compact-right"></i>
                <span>공지사항</span>
                <i class="bi bi-chevron-compact-right"></i>
                <span>공지사항 수정</span>
            </div>
        </div>
        <form id="noticeModifyForm" name="noticeModifyForm" method="post" class="needs-validation" novalidate>
            <input type="hidden" name="noticeSeq" th:value="${dto.noticeSeq}" />
            <div class="row row-tr">
                <div class="col-1 col-th">
                    <label class="col-form-label-sm">제목<span style="color:red;"> *</span></label>
                </div>
                <div class="col-11">
                    <input type="text" name="noticeSubject" id="noticeSubject" class="form-control form-control-sm" alt="title" th:value="${dto.noticeSubject}" placeholder="제목을 30자 이내로 입력해주세요." maxlength="30" required/>
                    <div class="invalid-feedback">
                        제목을 30자 이내로 입력해주세요.
                    </div>
                </div>
            </div>
            <div class="row row-tr">
                <div class="col-1 col-th">
                    <label class="col-form-label-sm">상단 고정</label>
                </div>
                <div class="col-11">
                    <!--<input type="checkbox" name="topFix" id="topFix" class="form-check-input" alt="topFix" th:checked="${noticeDetail.topFix}" />-->
                    <input type="checkbox" name="pinYn" id="pinYn" class="form-check-input" alt="pinYn" th:checked="${dto.pinYn == 'Y'}"/>
                    <span>공지사항 상단 고정</span>
                    <p style="color:#808080;">※ 체크박스 체크시 공지사항 글이 상단에 고정됩니다.</p>
                </div>
            </div>
            <div class="row row-tr">
                <div class="col-1 col-th">
                    <label class="col-form-label-sm">내용<span style="color:red;">*</span></label>
                </div>
                <div class="col-11">
                    <textarea rows="10" class="form-control form-control-sm" id="noticeContents" name="noticeContents" th:text="${dto.noticeContents}" required></textarea>
                    <div class="invalid-feedback">
                        ※ 내용을 입력해주세요.
                    </div>
                </div>
            </div>
            <div class="row row-tr">
                <div class="col-1 col-th">
                    <label class="col-form-label-sm">첨부 파일</label>
                </div>
                <div class="col-11">
                    <!-- name="uploadfile" -->
                    <div id="myId"></div>
                    <!--<button id="upload" class="btn btn-primary btn-sm">업로드</button>-->
                    <div class="row justify-content-center align-content-center mt-2">
                        <div class="col-1 text-center">파일</div>
                        <div class="col-11">
                            <ul id="user-files" class="list-inline">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-12 tx-right">
                    <button type="button" id="cancelBtn" th:onclick="|location.href='/board/notice/list'|" class="btn btn-sm btn-secondary"><svg class="svg-inline--fa fa-xmark" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="xmark" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" data-fa-i2svg=""><path fill="currentColor" d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"></path></svg><!-- <i class="fa-solid fa-xmark"></i> Font Awesome fontawesome.com --> 취소</button>

                    <button type="button" id="addBtn" class="btn btn-sm btn-primary"><svg class="svg-inline--fa fa-floppy-disk" aria-hidden="true" focusable="false" data-prefix="far" data-icon="floppy-disk" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M48 96V416c0 8.8 7.2 16 16 16H384c8.8 0 16-7.2 16-16V170.5c0-4.2-1.7-8.3-4.7-11.3l33.9-33.9c12 12 18.7 28.3 18.7 45.3V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96C0 60.7 28.7 32 64 32H309.5c17 0 33.3 6.7 45.3 18.7l74.5 74.5-33.9 33.9L320.8 84.7c-.3-.3-.5-.5-.8-.8V184c0 13.3-10.7 24-24 24H104c-13.3 0-24-10.7-24-24V80H64c-8.8 0-16 7.2-16 16zm80-16v80H272V80H128zm32 240a64 64 0 1 1 128 0 64 64 0 1 1 -128 0z"></path></svg><!-- <i class="fa-regular fa-floppy-disk"></i> Font Awesome fontawesome.com --> 등록</button>
                </div>
            </div>
        </form>
    </div>

    <script>
        //var noticeSeq = [[dto.noticeSeq]];
        //const noticeSeq = new URLSearchParams(location.search).get('noticeSeq')
        // 해당 화면의 seq를 호출
        document.addEventListener('DOMContentLoaded', async () => {
            const type = {
                type:'notice',
                fileName: 850,
                size: 200,
                modalId: 'modal-1',
                readOnly: 'N',
                visible: false
            }
            const uploader = new snFileUpload.Uploader("myId", type);
            const noticeSeq = new URLSearchParams(location.search).get('noticeSeq')
            console.log(noticeSeq)
            uploader.parentKey = noticeSeq
            await uploader.loadFiles();
            // 파일정보 로딩
            uploader.getFiles().forEach(file=>{
                console.log(file)
                let $link = $("<a>")
                    .text(`${file.name} (${file.vsize})`)
                    .attr("title", file.name)
                    .attr("href", `${file.name}`)
                    .data("fseq", file.fseq)
                    .data("seq", file.seq)
                    .on("click", (e)=>{
                        e.preventDefault();
                        let seq = $(e.target).data("seq");
                        let fseq =$(e.target).data("fseq");

                        console.log(seq)
                        console.log(fseq)

                        console.log(file)
                        // 이미 파일명/확장자명을 알기때문에 전달해주면 될 듯
                        if (file.type.match(/jpg|jpeg|png|gif/ig)) {
                            return $(`<a onclick='' href='javascript:;'>${file.name}</a>`)
                                .on("click", uploader.imgPreview(file))[0];
                        } else {
                            uploader.downloadFile(file);
                        }
                    });
                let $deleteLink = $(`<a href="javascript:;" class="ms-2"><i class='fa fa-trash'></i></a>`);
                $deleteLink.on("click", (e) => {
                    $(e.target).closest("li").remove()
                    console.log(file)
                    uploader.deleteFiles(file)
                });

                $("<li class='list-inline-item'>")
                    .append($link)
                    .append($deleteLink)
                    .appendTo($("#user-files"));
                uploader.clearFiles()
            });

            document.querySelectorAll('.note-editable')[0].addEventListener('blur', () => {
                const textAria = document.getElementById('noticeContents')
                const textVal = textAria.value.trim();
                if (textVal !== '') {
                    textAria.classList.remove("is-invalid");
                } else {
                    textAria.classList.add("is-invalid");
                }
            })

            $("#addBtn").click(() => {
                const noticeModifyForm = $("#noticeModifyForm").serializeObject();
                noticeModifyForm.pinYn = $("#pinYn").is(":checked") ? 'Y' : 'N';

                if (noticeModifyForm.noticeSeq == null) {
                    return snAlert.alert("공지사항을 찾을 수 없습니다.");
                }

                let url = "/api/board/notice/modify";
                let type = "post";
                let json = JSON.stringify(noticeModifyForm);
                let contentType = "application/json";

                // 폼 전체 유효성 검사
                if (!$("#noticeModifyForm")[0].checkValidity()) {
                    $("#noticeModifyForm")[0].classList.add('was-validated');
                    return;
                }

                snAlert.confirm('수정하시겠습니까?').then((res) => {
                    if (res.isConfirmed) {
                        $.ajax({
                            url: url,
                            type: type,
                            data: json,
                            contentType: contentType,
                            success: function (result) {
                                console.log('noticeResult!!')
                                console.log(result)
                                uploader.parentKey = noticeSeq
                                uploader.uploadFiles(false);
                                snAlert.success("알림", "수정 완료").then((result) => {
                                    if (result.isConfirmed) {
                                        location.href = "/board/notice/list";
                                    } else if (result.isDismissed) {
                                        snAlert.close();
                                    }
                                });
                            },
                            error: function (error) {
                                snAlert.error("알림", "글 수정이 실패하였습니다.");
                            }
                        });
                    }
                });
            });
        })



    </script>
</th:block>


</html>
