<!doctype html>
<html layout:decorate="~{layouts/main}"
      lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block layout:fragment="LNB" th:with="auth = 'on', permitBold = true">
    <th:block th:replace="fragments/LNB :: admin"></th:block>
</th:block>
    <th:block layout:fragment="configScript">
        <script th:src="@{/js/admin/permitList.js}"></script>
        <script th:src="@{/js/common/calendar.js}"></script>
    </th:block>

    <!--/* 주 화면 컨텐츠 */-->
    <th:block layout:fragment="content">
        <th:block th:replace="pages/common/modal :: permitSearchModal"></th:block>
        <div class="content container-fluid">
            <div class="title_wrap">
                <h3 class="tit">권한 관리</h3>
                <div class="loc">
                    <i class="bi bi-house-fill"></i>
                    <i class="bi bi-chevron-compact-right"></i>
                    <span>관리자 메뉴</span>
                    <i class="bi bi-chevron-compact-right"></i>
                    <span>권한 관리</span>
                </div>
            </div>
            <div>
                <form id="searchForm">
                    <div class="row row-tr">
                        <div class="col-1 col-th">
                            <label for="calendarSelect1" class="col-form-label col-form-label-sm">신청일자</label>
                        </div>
                        <div class="col-8">
                            <div class="row">
                                <div class="col-3">
                                    <select id="calendarSelect1" name="calendarType" class="form-select form-select-sm w150">
                                        <option value="all" th:selected="${searchParam.calendarType} == all">전체기간</option>
                                        <option value="simple" th:selected="${searchParam.calendarType} == simple">기간선택</option>
                                        <option value="set" th:selected="${searchParam.calendarType} == set">기간설정</option>
                                    </select>
                                    <input type="hidden" id="startDate1" name="startDate" th:startDate="${searchParam.startDate}">
                                    <input type="hidden" id="endDate1" name="endDate" th:endDate="${searchParam.endDate}">
                                </div>
                                <div id="calendarRemote1" class="col-9 row align-items-center justify-content-center"></div>
                            </div>
                        </div>
                        <div class="col-1 col-th">
                            <label class="col-form-label col-form-label-sm">권한</label>
                        </div>
                        <div class="col-2">
                            <input id="AD" type="checkbox" class="form-check-input" name="adCk" value="AD" checked>
                            <label class="fw-bold form-check-label me-2" for="AD">관리자</label>
                            <input id="UN" type="checkbox" class="form-check-input" name="unCk" value="UN" checked>
                            <label class="fw-bold form-check-label" for="UN">사용자</label>
                        </div>
                    </div>
                    <div class="row row-tr">
                        <div class="col-1 col-th">
                            <label for="searchType" class="fw-bold">검색</label>
                        </div>
                        <div class="col-2">
                            <select id="searchType" name="searchType" class="form-select form-select-sm">
                                <option value="" selected>전체</option>
                                <option value="perName" th:selected="userName == ${searchParam?.searchType}">권한명</option>
                                <option value="registName" th:selected="deptName == ${searchParam?.searchType}">등록자명</option>
                                <option value="updateName" th:selected="telNo == ${searchParam?.searchType}">수정자명</option>
                            </select>
                        </div>
                        <div class="col-9">
                            <input type="text" class="form-control form-control-sm" id="searchText" name="searchText" placeholder="검색어를 입력해주세요" th:value="${searchParam.searchText}">
                        </div>
                    </div>
                    <div class="row justify-content-center align-items-center mt-3 mb-5">
                        <div class="col-12 justify-content-end">
                            <div class="float-start">
                                <h5 style="color: #808080">※ 등록된 권한을 선택 또는 입력하여 검색할 수 있습니다.</h5>
                            </div>
                            <div class="float-end">
                                <button type="reset" id="reload" class="btn btn-secondary me-2 btn-sm">
                                    <i class="bi bi-arrow-repeat"></i>
                                </button>
                                <button class="btn btn-primary btn-sm">
                                    <i class="fa-solid fa-magnifying-glass"></i> 조회
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row justify-content-center align-items-center mb-2">
                    <div class="col-2" id="total">
                        <h3></h3>
                    </div>
                    <div class="col-10">
                        <div class="row align-items-center justify-content-end">
                            <select id="listCnt" class="col-2 form-select form-select-sm d-block me-3 w100" title="리스트 갯수">
                                <option value="10">10개씩</option>
                                <option value="30">30개씩</option>
                                <option value="50">50개씩</option>
                                <option value="70">70개씩</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div id="permitListGrid" class="ag-theme-alpine"></div>
            </div>
            <div class="row mt-3">
                <div class="col-11">

                </div>
                <div class="col-1 float-end">
                    <button id="crtPerBtn" class="btn btn-primary me-2 btn-sm float-md-end">권한 등록</button>
                </div>
            </div>
        </div>
    </th:block>
    <!--/* DOM요소 조작 혹은 이벤트 처리할 JS 추가 */-->
    <th:block layout:fragment="script">
    </th:block>
</html>