<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="library">
    <link rel="icon" th:href="@{/images/favicon_1616.png}">
    <link rel="shortcut icon" th:href="@{/images/favicon_3636.png}">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-icons.min.css}" />
    <link rel="stylesheet" th:href="@{/micro-modal/micromodal.css}" />
    <link rel="stylesheet" th:href="@{/fontawesome/css/all.min.css}" />
    <link rel="stylesheet" th:href="@{/sweetAlert/css/all.min.css}" />
    <link rel="stylesheet" th:href="@{/jstree/themes/default/style.min.css}">
    <link rel="stylesheet" th:href="@{/summernote/summernote-lite.css}" />
    <link rel="stylesheet" th:href="@{/dropzone/css/dropzone.min.css}" />
    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <link rel="stylesheet" th:href="@{/css/util.css}" />
    <link rel="stylesheet" th:href="@{/css/topButton.css}" />
    <script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/jquery/jquery_3.7.1.min.js}"></script>
    <script th:src="@{/micro-modal/micromodal.min.js}"></script>
    <script th:src="@{/ag-grid/js/ag-grid-community.min.js}"></script>
    <script th:src="@{/sweetAlert/js/all.min.js}"></script>
    <script th:src="@{/fontawesome/js/all.min.js}"></script>
    <script th:src="@{/jstree/jstree.min.js}"></script>
    <script th:src="@{/handlebars/handlebars-v4.7.8.min.js}"></script>
    <script th:src="@{/summernote/summernote-lite.js}"></script>
    <script th:src="@{/summernote/summernote-ko-KR.js}"></script>
    <script th:src="@{/moment-js/moment.min.js}"></script>
    <script th:src="@{/js/common/ajax.js}"></script>
    <script th:src="@{/js/common/ui.js}"></script>
    <script th:src="@{/js/common/alert.js}"></script>
    <script th:src="@{/js/common/grid.js}"></script>
    <script th:src="@{/js/common/layout.js}"></script>
    <script th:src="@{/js/common/report.js}"></script>
    <script th:src="@{/js/common/file.js}"></script>
    <script th:src="@{/js/common/keyEventUtil.js}"></script>
    <script th:src="@{/js/common/moveMenu.js}"></script>
    <script th:src="@{/js/common/formUtil.js}"></script>
    <script th:src="@{/js/map/openMap.js}"></script>
</th:block>
</html>