<!doctype html>
<html layout:decorate="~{layouts/main}"
      lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <!--/* 주 화면 컨텐츠 */-->
    <th:block layout:fragment="content">
        <style>
    .required .col-form-label:after {
      content: "※";
      color: red;
    }
  </style>
        <div class="content container-fluid">
            <form id="form" name="form" method="post">
                <input type="hidden" id="confmKey" name="confmKey" value=""/>
                <input type="hidden" id="returnUrl" name="returnUrl" value=""/>
                <input type="hidden" id="resultType" name="resultType" value=""/> // resultType항목 추가(2016.10.06)
                <!-- 해당시스템의 인코딩타입이 EUC-KR일경우에만 추가 START-->
                <!--
                <input type="hidden" id="encodingType" name="encodingType" value="EUC-KR"/>
                 -->
                <!-- 해당시스템의 인코딩타입이 EUC-KR일경우에만 추가 END-->
            </form>
            <span th:text="${param.inputYn}"></span>
            <script th:inline="javascript">
             /*<![CDATA[*/
                function init(){
                    var url = location.href;
                    const confmKey = [[${@environment.getProperty('noper.juso.key')}]];

                    // resultType항목 추가(2016.10.06)

                    var resultType = "4"; // 도로명주소 검색결과 화면 출력유형, 1 : 도로명, 2 : 도로명+지번, 3 : 도로명+상세건물명, 4 : 도로명+지번+상세건물명

                    var inputYn = [[${#httpServletRequest.getParameter('inputYn')}]];
                    if(inputYn != "Y"){
                        document.form.confmKey.value = confmKey;
                        document.form.returnUrl.value = url;
                        document.form.resultType.value = resultType; // resultType항목 추가(2016.10.06)
                        document.form.action=`${[[${@environment.getProperty('noper.juso.domain')}]]}/addrlink/addrLinkUrl.do`; // 인터넷망
                        //document.form.action="https://business.juso.go.kr/addrlink/addrMobileLinkUrl.do"; //모바일 웹인 경우, 인터넷망
                        document.form.submit();
                    }else{
                        /** API 서비스 제공항목 확대 (2017.02) **/
                        opener.jusoCallBack(
                            [[${#httpServletRequest.getParameter('roadFullAddr')}]],
                            [[${#httpServletRequest.getParameter('roadAddrPart1')}]],
                            [[${#httpServletRequest.getParameter('addrDetail')}]],
                            [[${#httpServletRequest.getParameter('roadAddrPart2')}]],
                            [[${#httpServletRequest.getParameter('engAddr')}]],
                            [[${#httpServletRequest.getParameter('jibunAddr')}]],
                            [[${#httpServletRequest.getParameter('zipNo')}]],
                            [[${#httpServletRequest.getParameter('admCd')}]],
                            [[${#httpServletRequest.getParameter('rnMgtSn')}]],
                            [[${#httpServletRequest.getParameter('bdMgtSn')}]],
                            [[${#httpServletRequest.getParameter('detBdNmList')}]],
                            [[${#httpServletRequest.getParameter('bdNm')}]],
                            [[${#httpServletRequest.getParameter('bdKdcd')}]],
                            [[${#httpServletRequest.getParameter('siNm')}]],
                            [[${#httpServletRequest.getParameter('sggNm')}]],
                            [[${#httpServletRequest.getParameter('emdNm')}]],
                            [[${#httpServletRequest.getParameter('liNm')}]],
                            [[${#httpServletRequest.getParameter('rn')}]],
                            [[${#httpServletRequest.getParameter('udrtYn')}]],
                            [[${#httpServletRequest.getParameter('buldMnnm')}]],
                            [[${#httpServletRequest.getParameter('buldSlno')}]],
                            [[${#httpServletRequest.getParameter('mtYn')}]],
                            [[${#httpServletRequest.getParameter('lnbrMnnm')}]],
                            [[${#httpServletRequest.getParameter('lnbrSlno')}]],
                            [[${#httpServletRequest.getParameter('emdNo')}]]);
                        window.close();
                    }
                }
             init();
             /*]]>*/
            </script>
        </div>

    </th:block>

    <!--/* DOM요소 조작 혹은 이벤트 처리할 JS 추가 */-->
    <th:block layout:fragment="script">
        <script th:src="@{/js/indexControl.js}"></script>
    </th:block>
</html>