<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<!--/* footerFragment 선언 */-->
<footer th:fragment="footer" id="footer">
    <div class="footer_inner">
        <!-- 로고 -->
        <div class="logo"><a th:href="@{/}"><span class="hide">서울시 기존무허가건물관리시스템</span></a></div>
        <!-- 카피 -->
        <p class="copy">(04514) 서울특별시 중구 서소문로 124 씨티스퀘어 14층 ㅣ 문의 : 주택정책실 건축기획과 : 02) 2133-7120<br />© Seoul Metropolitan Government all rights reserved.</p>
        <!-- 사이트맵 -->
        <div></div>
    </div>
</footer>
</html>