<!doctype html>
<html layout:decorate="~{layouts/main}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="ko">
<th:block layout:fragment="LNB" th:with="viobldmngListBold = true">
    <th:block th:replace="fragments/LNB :: viobldmng"></th:block>
</th:block>

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/buildingmanagement/ledger.css}" >
</th:block>

<th:block layout:fragment="configScript">
    <script th:src="@{/js/violatingBuildingManagement/violated.js}"></script>
    <script th:src="@{/js/common/calendar.js}"></script>
</th:block>

<th:block layout:fragment="content">
    <div class="content container-fluid">
        <div class="title_wrap">
            <h3 class="tit">위반건축물 현황</h3>
            <div class="loc">
                <i class="bi bi-house-fill"></i>
                <i class="bi bi-chevron-compact-right"></i>
                <span>위반건축물관리</span>
                <i class="bi bi-chevron-compact-right"></i>
                <span>위반건축물 현황</span>
            </div>
        </div>
        <div>
            <form id="searchForm">
                <input type="hidden" id="statusToList" th:value="${statusToList}">
                <input type="hidden" id="deptCd" name="deptCd" th:value="${#authentication.principal.deptName}">
                <div class="row row-tr">
                    <div class="col-1 col-th">
                        <label for="gmskk" class="col-form-label col-form-label-sm">관리번호</label>
                    </div>
                    <div th:class="${admin} ? 'col-5' : 'col-8'">
                        <input type="text" id="gmskk" class="form-control form-control-sm w90" name="gmskk" placeholder="관리번호" th:value="${searchParam.gmskk}"/>
                    </div>
                    <div class="col-1 col-th">
                        <label for="violationType" class="col-form-label col-form-label-sm">위반 구분</label>
                    </div>
                    <div class="col-2">
                        <select id="violationType" class="form-select form-select-sm" name="violationType">
                            <option value="" selected>전체</option>
                            <option th:selected="${searchParam.violationType} == '위법시공 건축물'">위법시공 건축물</option>
                            <option th:selected="${searchParam.violationType} == '무단 용도변경 건축물'">무단 용도변경 건축물</option>
                            <option th:selected="${searchParam.violationType} == '기타 위반건축물'">기타 위반건축물</option>
                            <option th:selected="${searchParam.violationType} == '무허가 건축물'">무허가 건축물</option>
                        </select>
                    </div>
                    <th:block th:if="${admin}">
                        <div class="col-1 col-th">
                            <label for="skkCd" class="col-form-label col-form-label-sm">자치구</label>
                        </div>
                        <div class="col-2">
                            <select id="skkCd" class="form-select form-select-sm" name="skkCd">
                                <option value="">전체</option>
                                <option th:each="val : ${skk}" th:value="${val?.CDKEY}" th:utext="${val?.CDVALUE}" th:selected="${val?.CDKEY} == ${searchParam?.skkCd}"></option>
                            </select>
                        </div>
                    </th:block>
                    <th:block th:if="!${admin}">
                        <input type="hidden" name="skkCd" th:value="${#authentication.principal.skkCd}">
                    </th:block>
                </div>
                <div class="row row-tr">
                    <div class="col-1 col-th">
                        <label for="calendarSelect1" class="col-form-label col-form-label-sm">적발일자</label>
                    </div>
                    <div class="col-8">
                        <div class="row">
                            <div class="col-3">
                                <select id="calendarSelect1" class="form-select form-select-sm w150">
                                    <option value="all" th:selected="${searchParam.calendarType} == all">전체기간</option>
                                    <option value="simple" th:selected="${searchParam.calendarType} == simple">기간선택</option>
                                    <option value="set" th:selected="${searchParam.calendarType} == set">기간설정</option>
                                </select>
                                <input type="hidden" name="startDate" id="startDate1" th:startDate="${searchParam.startDate}">
                                <input type="hidden" name="endDate" id="endDate1" th:startDate="${searchParam.endDate}">
                            </div>
                            <div id="calendarRemote1" class="col-9 row align-items-center justify-content-center"></div>
                        </div>
                    </div>
                    <div class="col-1 col-th">
                        <label for="useType" class="col-form-label col-form-label-sm">용도</label>
                    </div>
                    <div class="col-2">
                        <select id="useType" class="form-select form-select-sm" name="useType">
                            <option value="">전체</option>
                            <option th:selected="${searchParam.useType} == '주거용'">주거용</option>
                            <option th:selected="${searchParam.useType} == '비주거용'">비주거용</option>
                        </select>
                    </div>
                </div>
                <div class="row row-tr">
                    <div class="col-1 col-th">
                        <label for="address" class="col-form-label col-form-label-sm">건축물주소</label>
                    </div>
                    <th:block>
                        <div class="col-8">
                            <input id="address" class="form-control form-control-sm" name="address" placeholder="주소"/>
                        </div>
                    </th:block>
                    <div class="col-1 col-th">
                        <label for="gmcsah" class="col-form-label col-form-label-sm">대지/산 구분</label>
                    </div>
                    <div class="col-2">
                        <select id="gmcsah" class="form-select form-select-sm" name="gmcsah">
                            <option value="" selected>전체</option>
                            <option value="0" th:selected="${searchParam.gmcsah} == '0'">대지</option>
                            <option value="1" th:selected="${searchParam.gmcsah} == '1'">산</option>
                            <option value="2" th:selected="${searchParam.gmcsah} == '2'">블럭</option>
                        </select>
                    </div>
                </div>
                <div class="row justify-content-center align-items-center mt-3 mb-5">
                    <div class="col-12 justify-content-end">
                        <div class="float-start">
                            <h5 style="color: #808080">※ 검색조건을 통해 위반건축물통계를 검색할 수 있습니다.</h5>
                        </div>
                        <div class="float-end">
                            <button type="reset" id="btnReload" class="btn btn-secondary me-2 btn-sm">
                                <i class="bi bi-arrow-repeat"></i>
                            </button>
                            <button id="btnSearch" class="btn btn-primary btn-sm">
                                <i class="fa-solid fa-magnifying-glass"></i> 조회
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row justify-content-center align-items-center">
                <div class="col-2 mt-2" id="total">
                    <h3></h3>
                </div>
                <div class="col-10">
                    <div class="row align-items-center justify-content-end mb-3">
                        <button type="button" class="col-2 btn btn-success btn-sm me-2 w120" name="excelDownload">
                            <i class="fa-solid fa-file-excel"></i> 엑셀 다운로드
                        </button>
                        <select id="listCnt" class="col-2 form-select form-select-sm d-block me-3 w100" title="리스트 갯수">
                            <option value="10">10개씩</option>
                            <option value="30">30개씩</option>
                            <option value="50">50개씩</option>
                            <option value="70">70개씩</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="myGrid" class="ag-theme-alpine"></div>
            </div>
            <div th:if="${auth.canInsert}" class="row mt-3 float-end">
                <div class="col float-end">
                    <button class="btn btn-primary btn-sm" th:text="${saveBtn}" name="saveBtn"></button>
                </div>
            </div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="script">
    <script>
        var isAdmin = [[${#authentication.principal.isAdmin}]]
    </script>
</th:block>
</html>