<!doctype html>
<html layout:decorate="~{layouts/main}" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <th:block layout:fragment="LNB" th:with="ledger = 'on', ledgerBold = true">
        <th:block th:replace="fragments/LNB :: unlcebldmng"></th:block>
    </th:block>

    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/buildingmanagement/ledger.css}" >
    </th:block>
    <th:block layout:fragment="configScript">
        <script th:src="@{/js/buildingmanagement/ledger.js}"></script>
        <script th:src="@{/js/common/calendar.js}"></script>
    </th:block>
    <th:block layout:fragment="content">
        <th:block th:replace="pages/common/loading :: loading"></th:block>
        <!--/* modal 호출 */-->
        <th:block th:replace="pages/common/modal :: noperNumSearchModal"></th:block>
        <div class="content container-fluid">

            <div class="title_wrap">
                <h3 class="tit">대장현황</h3>
                <div class="loc">
                    <i class="bi bi-house-fill"></i>
                    <i class="bi bi-chevron-compact-right"></i>
                    <span>기존무허가 건축물관리</span>
                    <i class="bi bi-chevron-compact-right"></i>
                    <span>대장관리</span>
                    <i class="bi bi-chevron-compact-right"></i>
                    <span>대장현황</span>
                </div>
            </div>
            <div>
                <form id="ledgerFindForm" th:object="${LedgerDTO}" th:action="@{/api/unlicensedBuilingManagement/search}" method="post">
                <input type="hidden" name="legerFlag" value="ledger" aria-label="대장구분">
                    <div class="row row-tr">
                        <div class="col-1 col-th">
                            <label for="gmskk" class="col-form-label col-form-label-sm">대장번호</label>
                        </div>
                        <div class="col-2" sec:authorize="hasRole('ROLE_ADMIN')">
                            <select id="gmskk" class="form-select form-select-sm" name="gmskkTmp">
                                <option th:each="val : ${skk}" th:value="${val?.CDKEY}" th:utext="${val?.CDVALUE}"
                                        th:selected="${ledgerFindForm?.gmskk != null ? val?.CDKEY == ledgerFindForm?.gmskk : val?.CDKEY == searchParam?.skkCd}">
                                </option>
                            </select>
                        </div>
                        <div class="col-1" sec:authorize="hasRole('ROLE_USER')">
                            <input type="text" id="gmskk" class="form-control form-control-sm w90 disabled" name="gmskkTmp"  th:value="${#authentication.principal.skkCd}" disabled/>
                        </div>
                        <div class="col-2">
                            <select id="gmdjgb" name="gmdjgb" class="form-select form-select-sm" title="대장구분">
                                <option value="">전체</option>
                                <option th:each="ledger : ${codeLedget}" th:value="${ledger.cdkey}"
                                        th:text="${ledger.cdvalue}" th:selected="${ledger.cdkey} == ${ledgerFindForm?.gmdjgb}">대장구분</option>
                            </select>
                        </div>
                        <div class="col-2">
                            <input type="text" class="gmseqco form-control form-control-sm w70" name="gmseqco" aria-label="gmseqco" value="" th:value="${ledgerFindForm?.gmseqco}"/>
                            &nbsp;~&nbsp;
                            <input type="text" class="gmseqco form-control form-control-sm w70" name="gmseqco2" aria-label="gmseqco2" value="" th:value="${ledgerFindForm?.gmseqco2}"/>
                        </div>
                        <!--
                        <div class="col-1 small">
                            <input class="form-check-input" type="checkbox" value="" onclick="singleSerach()" id="oneSelChk">
                            <label class="form-check-label" for="oneSelChk">한건조회</label>
                        </div>
                        -->
                        <div class="col-3">
                            <button type="button" id="btnNoperNumModalCall" data-bs-toggle="modal" data-bs-target="#noperNumSearchDiv" class="btn btn-secondary btn-sm">
                                <i class="fa-solid fa-search"></i> 번호찾기
                            </button>
                        </div>
                    </div>
                    <div class="row row-tr">
                        <!--<div class="col-1 col-th">
                            <label for="gmhjdcd" class="col-form-label col-form-label-sm">관리행정동</label>
                        </div>
                        <div class="col-3 align-items-center d-flex">
                            <select id="gmhjdcd" name="gmhjdcd" class="form-select form-select-sm" title="관리행정동">
                                <option value="">전체</option>
                                <option th:each="mngAdminstrBld : ${mngAdminstrBld}" th:value="${mngAdminstrBld.hjdcd}"
                                        th:text="${mngAdminstrBld.hnam}">관리행정동</option>
                            </select>
                        </div>-->
                        <div class="col-1 col-th">
                            <label for="tojisg" class="col-form-label col-form-label-sm">소유구분</label>
                        </div>
                        <div class="col-8">
                            <select id="tojisg" class="form-select form-select-sm w150" name="tojisg" title="소유구분">
                                <option value="">전체</option>
                                <option th:each="posseion : ${codePosseion}" th:value="${posseion.cdvalue}"
                                        th:text="${posseion.cdvalue}" th:selected="${posseion.cdvalue} == ${ledgerFindForm?.tojisg}">소유구분</option>
                            </select>
                        </div>
                        <div class="col-1 col-th">
                            <label for="gmyd" class="col-form-label col-form-label-sm">용도</label>
                        </div>
                        <div class="col-2">
                            <select id="gmyd" class="form-select form-select-sm" name="gmyd">
                                <option value="">전체</option>
                                <option th:each="usage : ${codeUsage}" th:value="${usage.cdvalue}"
                                        th:text="${usage.cdvalue}" th:selected="${usage.cdvalue} == ${ledgerFindForm?.gmyd}">용도</option>
                            </select>
                        </div>
                    </div>
                    <div class="row row-tr">
                        <div class="col-1 col-th">
                            <label for="calendarSelect1" class="col-form-label col-form-label-sm">건축일자</label>
                        </div>
                        <div class="col-8">
                            <div class="row">
                                <div class="col-3">
                                    <select id="calendarSelect1" name="calendarType" class="form-select form-select-sm w150" title="건축일자">
                                        <option value="all">전체기간</option>
                                        <option value="simple">기간선택</option>
                                        <option value="set">기간설정</option>
                                    </select>
                                </div>
                                <div id="calendarRemote1" class="col-9 row align-items-center justify-content-center"></div>
                            </div>
                        </div>
                        <input type="hidden" id="startDate"/>
                        <input type="hidden" id="endDate" />
                        <input type="hidden" id="gmgunil1" name="gmgunil1" th:value="${ledgerFindForm.gmgunil1}" />
                        <input type="hidden" id="gmgunil2" name="gmgunil2" th:value="${ledgerFindForm.gmgunil2}" />
                    </div>
                    <div class="row row-tr">
                        <div class="col-1 col-th">
                            <label class="col-form-label col-form-label-sm">건물주소</label>
                        </div>
                        <div class="col-8">
                            <input type="text" name="searchJuso" class="form-control form-control-sm" placeholder="건물주소" aria-label="건물주소" th:value="${ledgerFindForm?.searchJuso}"/>
                        </div>
                        <!--
                        <div class="col-5">
                            <input type="text" name="jibunaddr" class="form-control form-control-sm" placeholder="지번주소" aria-label="지번주소"/>
                        </div>
                        <div class="col-1">
                            <button type="button" id="jusoBtn" class="btn btn-secondary btn-sm">
                                <i class="fa-solid fa-search"></i> 주소
                            </button>
                        </div>
                        -->
                        <div class="col-1 col-th">
                            <label class="col-form-label col-form-label-sm">대지/산</label>
                        </div>
                        <div class="col-2">
                            <select id="gmcsah" class="form-select form-select-sm" name="gmcsah">
                                <option value="">전체</option>
                                <option th:each="gmcsah : ${findGmcsah}" th:value="${gmcsah.cdkey}"
                                        th:text="${gmcsah.cdvalue}" th:selected="${gmcsah.cdkey} == ${ledgerFindForm?.gmcsah}">대지/산</option>
                            </select>
                        </div>
                    </div>
                    <input type="hidden" name="gmskkcd" aria-label="시군구코드">
                    <input type="hidden" name="gmbjdcd" aria-label="위치법정동코드">
                    <input type="hidden" name="gmcbuh" aria-label="위치본번">
                    <input type="hidden" name="gmcji" aria-label="위치부번">
                    <input type="hidden" name="gmskk" aria-label="시군구코드">
                    <input type="hidden" th:value="${userName}" name="userName" aria-label="유저이름">
                </form>
                <div class="row justify-content-center">
                    <div class="col-12 justify-content-end mt-3 mb-5">
                        <div class="float-start">
                            <h5 style="color: #808080">※ 검색조건을 통해 건축물현황을 검색할 수 있습니다.</h5>
                        </div>
                        <div class="float-end">
                            <button type="button" id="btnReload" class="btn btn-secondary me-2 btn-sm">
                                <i class="bi bi-arrow-repeat"></i>
                            </button>
                            <button type="button" form="ledgerFindForm" id="btnSearch" class="btn btn-primary btn-sm">
                                <i class="fa-solid fa-magnifying-glass"></i> 조회
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center align-items-center">
                    <div id="totCnt" class="col-2 mt-2">
                        <h3></h3>
                    </div>
                    <div class="col-10">
                        <div class="row align-items-center justify-content-end mb-3">
                            <button type="button" id="csvBtn" class="col-2 btn btn-success btn-sm me-2 w120">
                                <i class="fa-solid fa-file-excel"></i> 엑셀 다운로드
                            </button>
                            <select name="listCnt" onchange="onPageSizeChanged()" id="page-size" class="col-2 form-select form-select-sm d-block me-3 w100" title="리스트 갯수">
                                <option value="10">10개씩</option>
                                <option value="30">30개씩</option>
                                <option value="50">50개씩</option>
                                <option value="70">70개씩</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div id="LedgerListGrid" class="ag-theme-alpine"></div>
            <div class="float-end mt-3">
                <button type="button" id="ledgerGmjPrint" class="btn btn-primary btn-sm">건물주 주소포함 대장출력</button>
                <button type="button" id="ledgerPrint" class="btn btn-primary btn-sm">대장출력</button>
                <th:block th:if="${auth.canInsert}">
                    <button type="button" id="newLegerAddBtn" class="btn btn-primary btn-sm">신규대장추가</button>
                </th:block>
            </div>
        </div>

        <script th:inline="javascript">
            var isAdmin = [[${#authentication.principal.isAdmin}]]
            var skkCd = [[${#authentication.principal.skkCd}]]
            var calendarType = [[${searchParamDTO.calendarType}]]
            var calendarBtn = [[${searchParamDTO.calendarBtn}]]
        </script>

    </th:block>

    <h2 th:text="123"></h2>
    <th:block th:if="${header == 'HEADER 입니다.'}">
        <h2 th:text="${header}"></h2>
    </th:block>
    <th:block th:if="${#strings.equals(header , 'HEADER 입니다.')}">
        <h2 th:text="${header}"></h2>
    </th:block>
    <th:block th:if="${footer != 'HEADER 입니다.'}">
        <h2 th:text="${footer}"></h2>
    </th:block>
    <th:block th:if="${!#strings.equals(header , 'HEADER 니다.')}">
        <h2 th:text="${footer}"></h2>
    </th:block>
    <th:block th:unless="${#strings.equals(header , 'HEADER 니다.')}">
        <h2 th:text="${footer}"></h2>
    </th:block>
    <th:block th:text="${#strings.isEmpty(null)}"></th:block>
    <th:block th:replace="component/test2 :: test"></th:block>
    <th:block th:text="${#strings.contains(header, 'HEADER')}"></th:block>
    <th:block th:text="${#strings.contains(header, 'header')}"></th:block>
    <th:block th:utext="${utest}"></th:block>

    <input type="text" name="id" th:value="*{id}" />
    <!--multi
    <form action="" method="post" th:object="${formData}}">
        <input type="text" name="id" th:value="*{id}" />
    </form>
     -->
    <!--단일 -->
    <input type="text" name="pass" th:value="${pass}" />

        <form action="/" method="">
            <th:block th:if="${chkList} == null">
                <input type="checkbox" name="chk1" th:checked="true" /> chk1 </br>
                <input type="checkbox" name="chk2" th:checked="false"/> chk2 </br>
                <input type="checkbox" name="chk3" th:checked="true" /> chk3 </br>
            </th:block>
            <th:block th:if="${chkList} != null">
                <input type="checkbox" name="chk1" th:checked="${#strings.contains(chkList == chk1)}" /> chk1 </br>
                <input type="checkbox" name="chk2" th:checked="${#strings.contains(chkList == chk2)}"/> chk2 </br>
                <input type="checkbox" name="chk3" th:checked="${#strings.contains(chkList == chk3)}" /> chk3 </br>
            </th:block>
        </form>
        <table>
            <tr>
                <td th:text="${chkList}"></td>
            </tr>
            <tr th:each="listItem, idx : ${chkList}">
                <td th:text="${idx.index}"></td>
                <td th:text="${idx.current}"></td>
            </tr>
        </table>
    <th:block layout:fragment="script">
        <script th:src="@{/js/common/calendar.js}"></script>
        <script th:src="@{/js/common/modal.js}"></script>
    </th:block>
</html>