<!doctype html>
<html layout:decorate="~{layouts/main}"
      lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--/* 주 화면 컨텐츠 */-->
<th:block layout:fragment="content">
    <div class="container-fluid content">
        <div class="title_wrap mb-4">
            <!--  추가된 타이틀 -->
            <h3 class="tit">아이디찾기</h3>
            <div class="loc">
                <i class="bi bi-house-fill"></i>
                <i class="bi bi-chevron-compact-right"></i>
                <span>아이디 찾기</span>
            </div>
        </div>
        <th:block th:if="${result} == 0">
            <form id="formId" th:action="@{/find-id}" method="post" class="needs-validation" novalidate>
                <div class="card mt-5">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-2">
                                <p class="fw-bold tx-left">사용자정보입력</p>
                            </div>
                            <div class="col-10">
                                <h5 class="float-end d-flex"><p style="color:red;">*</p>&nbsp;필수 입력 항목입니다.</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row row-tr border-top-gray">
                            <div class="col-1 col-th">
                                <label for="name" class="col-form-label col-form-label-sm">성명<th:block th:replace="pages/common/util :: required"></th:block></label>
                            </div>
                            <div class="col-5">
                                <input id="name" class="form-control form-control-sm" name="name" placeholder="이름입력" maxlength="20" required/>
                                <small class="invalid-feedback tx-left">※ 사용자명을 입력해주세요.</small>
                            </div>
                            <div class="col-1 col-th">
                                <label for="email" class="col-form-label col-form-label-sm">이메일<th:block th:replace="pages/common/util :: required"></th:block></label>
                            </div>
                            <div class="col-5">
                                <div class="d-flex align-items-center flex-wrap">
                                    <input id="email" class="form-control form-control-sm side-input" name="emailName" placeholder="이메일 입력" maxlength="50" required/>
                                    <span class="text-center side-input-center">@</span>
                                    <input class="form-control form-control-sm side-input" name="emailDomain" placeholder="mail" value="seoul.go.kr" maxlength="50" required/>
                                    <small class="invalid-feedback tx-left">※ 이메일 주소를 입력해주세요.</small>
                                </div>
                            </div>
                        </div>
                        <div class="row row-tr">
                            <div class="col-1 col-th">
                                <label for="telno" class="col-form-label col-form-label-sm">전화번호<th:block th:replace="pages/common/util :: required"></th:block></label>
                            </div>
                            <div class="col-11">
                                <input id="telno" class="form-control form-control-sm" name="telno" placeholder="전화번호 입력" pattern="^\d+$" oninput="this.value = this.value.replace(/[^0-9.]/g, '')" maxlength="20" required/>
                                <small class="invalid-feedback tx-left">※ 전화번호를 숫자만 입력해주세요.</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3 align-items-center">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-sm float-end">아이디 찾기</button>
                    </div>
                </div>
            </form>
        </th:block>
        <th:block th:unless="${result} == 0">
            <h3 class="h3 mt-4 mb-4">개인정보 도용에 주의 바랍니다.</h3>
            <div class="d-flex flex-column mb-5">
                <h5 class="d-flex h5">회원님의 아이디는&nbsp;<p class="fw-bold" th:text="${id}"></p>&nbsp;(으)로 등록되어 있습니다.</h5>
                <h5 class="d-flex h5">가입일자는&nbsp;<p class="fw-bold" th:text="${#temporals.format(date, 'yyyy.MM.dd')}"></p>&nbsp;입니다.</h5>
            </div>
            <div class="d-flex float-end">
                <a th:href="@{/find-pw}" class="btn btn-secondary btn-sm me-2">비밀번호 찾기</a>
                <a th:href="@{/?auth=0}" class="btn btn-primary btn-sm">로그인 바로가기</a>
            </div>
        </th:block>
    </div>
</th:block>

<!--/* DOM요소 조작 혹은 이벤트 처리할 JS 추가 */-->
<th:block layout:fragment="script">
    <script th:src="@{/js/auth/find-id.js}"></script>
</th:block>
</html>