<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="container">
        <div id='login-container' class="modal micromodal-slide" aria-hidden="true">
            <div class="modal__overlay" tabindex="-1">
                <div id="login-modal" class="modal__container p0 w1000 index-top" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
                    <div class="modal__header p-3" style="background-color: #f0f0f8;">
                        <h2 class="modal__title" style="color: #333333;">일반 로그인</h2>
                        <button class="modal__close modal-closed float-end" aria-label="Close modal" data-micromodal-close></button>
                    </div>
                    <main class="mt-4 mb-2 px-5">
                        <form id="login-form" class="needs-validation" th:action="@{/api/login}" method="post" novalidate autocomplete="on">
                            <div class="d-flex justify-content-center align-items-center flex-lg-column">
                                <input type="text" class="form-control p-2 w-100" id="inputId" th:name="id" aria-describedby="emailHelp" oninput="textUppercase(this)"  placeholder="ID를 입력해주세요." required />
                                <small class="invalid-feedback">아이디를 입력해주세요.</small>
                            </div>
                            <div class="d-flex justify-content-center align-items-center flex-lg-column mt-3">
                                <input type="password" class="form-control p-2 w-100" id="inputPw" th:name="pw" placeholder="비밀번호를 입력해주세요." disableCommon="true" required />
                                <small class="invalid-feedback">
                                    <span id="validateTx">비밀번호를 입력해주세요.</span>
                                </small>
                            </div>
                        </form>
                        <div class="d-flex align-items-center m-2">
                            <input type="checkbox" id="autoLogin" name="autoLogin" class="ag-checkbox">
                            <label for="autoLogin" class="ms-1 ag-label">
                                자동로그인
                            </label>
                        </div>
                        <div class="d-flex align-items-center m-2 mt-4">
                            <small class="text-muted">※ 최초 로그인시 일반 로그인 후 GPKI 인증 로그인 화면으로 전환됩니다.</small>
                        </div>
                    </main>
                    <footer class="px-5 mb-4">
                        <div class="row justify-content-center">
                            <div class="col-3">
                                <button class="modal__btn modal-closed w-100 h50" data-micromodal-close aria-label="Close this dialog window" style="font-size: 16px;">닫기</button>
                            </div>
                            <div class="col-9">
                                <button type="button" id="loginBtn" class="modal__btn modal__btn-primary btn-primary w-100 h50" style="font-size: 16px;">로그인</button>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end mt-4">
                            <a th:href="@{/find-id}">아이디 찾기</a>
                            &nbsp;|&nbsp;
                            <a th:href="@{/find-pw}">비밀번호 찾기</a>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </th:block>
</html>