<!doctype html>
<html layout:decorate="~{layouts/main}"
      lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block layout:fragment="LNB" th:with="auth = 'on', sessionManagementBold = true">
    <th:block th:replace="fragments/LNB :: admin"></th:block>
</th:block>

<!--/* 주 화면 컨텐츠 */-->
<th:block layout:fragment="content">
    <div class="container-fluid content">
        <div class="title_wrap mb-3">
            <!--  추가된 타이틀 -->
            <h3 class="tit">로그인관리</h3>
            <div class="loc">
                <i class="bi bi-house-fill"></i>
                <i class="bi bi-chevron-compact-right"></i>
                <span>관리자 메뉴</span>
                <i class="bi bi-chevron-compact-right"></i>
                <span>운영관리</span>
                <i class="bi bi-chevron-compact-right"></i>
                <span>로그인관리</span>
                <i class="bi bi-chevron-compact-right"></i>
                <span>로그인 세션 만료시간 설정</span>
            </div>
        </div>
        <form id="sessionTimeForm" th:action="@{/api/login-mng/session-time}" method="post">
            <div class="d-flex mb-3 form-group align-items-center">
                <div class="me-4">
                    <label for="session">로그인 세션 만료</label>
                </div>
                <div>
                    <select id="session" class="form-select form-select-sm" aria-label="Default select example">
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="60">60</option>
                        <option value="120">120</option>
                        <option value="180">180</option>
                    </select>
                </div>
                <span class="mx-2">분</span>
                <div class="ms-lg-auto">
                    <button type="button" id="close" class="btn btn-secondary btn-sm me-2">취소</button>
                    <button type="button" id="submit" class="btn btn-primary btn-sm">저장</button>
                </div>
            </div>
        </form>
    </div>
</th:block>

<!--/* DOM요소 조작 혹은 이벤트 처리할 JS 추가 */-->
<th:block layout:fragment="script">
    <script th:src="@{/js/auth/loginSessionMng.js}"></script>
</th:block>
</html>